.git
.github
node_modules
build
coverage
exports
.env
.env.*
!.env.example
.npmrc
/config.json
/config.json.*
/config.*.json
*.log
*.tgz
*.key
*.pem
*.crt
*.cer
*.p12
*.pfx
*.p7b
*.p7c
*.p8
*.jks
*.keystore
*.csr
*.der
*.ppk
id_rsa
id_dsa
id_ecdsa
id_ed25519
.DS_Store
Thumbs.db
docs
scripts
